/*<<<---------- Alert ---------->>>*/

.alert
{
    /*margin-bottom: 15px;*/
    padding: 20px;
    transition: opacity .6s;
    opacity: 1;
    color: #fff;
    border-radius: 5px;
    background-color: #f44336;
}

.count
{
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 100%;
    background-color: #ddd;
}
