/*<<<---------- Card ---------->>>*/

.card
{
    transition: .3s;

    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.card .-content
{
    padding: 2px 16px;
}
