._cream,
._white,
._yellow,
._pink,
._brown
{
    color: #000 !important;
}

._nightblue,
._black,
._indigo,
._primary,
._purple,
._grey,
._dark,
._active,
._danger,
._success,
._teal,
._info,
._warning
{
    color: #fff !important;
}

._nightblue
{background-color:#2c3e50 !important;
border-color:#2c3e50 !important }

._indigo
{background-color:#3f51b5!important;
border-color:#3f51b5!important }

._yellow
{background-color:#ffeb3b !important;
border-color:#ffeb3b !important }

._pink
{background-color:pink !important;
border-color:pink !important}

._black
{background-color:#000 !important;
border-color:#000 !important }

._brown
{background-color:#795548 !important;
border-color:#795548 !important }

._teal
{background-color:#009688 !important;
border-color:#009688 !important }

._info
{background-color:#2196f3 !important;
border-color:#2196f3 !important}

._primary
{background-color:#33c3f0 !important;
border-color:#33c3f0 !important}

._success
{background-color:#90ee90 !important;
border-color:#90ee90 !important}

._dark
{background-color:#333 !important;
border-color:#333 !important}

._cream
{background-color:#f0f0f0 !important;
border-color:#f0f0f0 !important}

._white
{background-color:#fff !important;
border-color:#fff !important}

._purple
{background-color:#800080 !important;
border-color:#800080 !important}

._danger
{background-color:#f44336 !important;
border-color:#f44336 !important
}

._warning
{background-color:#ff9800 !important;
border-color:#ff9800 !important}

._f-nightblue
{color:#2c3e50 !important }

._f-indigo
{color:#3f51b5!important }

._f-yellow
{color:#ffeb3b !important }

._f-pink
{color:pink !important}

._f-black
{color:#000 !important }

._f-brown
{color:#795548 !important }

._f-teal
{color:#009688 !important }

._f-info
{color:#2196f3 !important}

._f-primary
{color:#33c3f0 !important}

._f-success
{color:#90ee90 !important}

._f-dark
{color:#333 !important}

._f-cream
{color:#f0f0f0 !important}

._f-white
{color:#fff !important}

._f-purple
{color:#800080 !important}

._f-danger
{color:#f44336 !important}

._f-warning
{color:#ff9800 !important}


._bc-nightblue
{border-color:#2c3e50 !important }

._bc-indigo
{border-color:#3f51b5!important }

._bc-yellow
{border-color:#ffeb3b !important }

._bc-pink
{border-color:pink !important}

._bc-black
{border-color:#000 !important }

._bc-brown
{border-color:#795548 !important }

._bc-teal
{border-color:#009688 !important }

._bc-info
{border-color:#2196f3 !important}

._bc-primary
{border-color:#33c3f0 !important}

._bc-success
{border-color:#90ee90 !important}

._bc-dark
{border-color:#333 !important}

._bc-cream
{border-color:#f0f0f0 !important}

._bc-white
{border-color:#fff !important}

._bc-purple
{border-color:#800080 !important}

._bc-danger
{border-color:#f44336 !important}

._bc-warning
{border-color:#ff9800 !important}


