---
title: Download
permalink: /0.3/download.html
---


{% include header.html %}

<div class="jumbo _dark  _alignLeft"><div class="container" style="margin-top:56px">
<h3>Download</h3>
</div></div>

<div class="container jumbo">



<h2 class="m">Thanks &hearts; for choosing Beauter</h2>

                        <p>Beauter is still under development. Please share your improvements on <a href="https://github.com/outboxcraft/beauter">Github</a> to make Beauter more beautiful. Enjoy the current version.&#9749;</p>
                        <a href="https://github.com/outboxcraft/beauter/archive/v0.3-dev.zip" class="button _primary">DOWNLOAD NOW</a>




</div>


{% include footer.html %} 

