---
title: A simple framework for beauiful sites
permalink: /0.3/index.html
---

{% include header.html %}

<div style=";background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),url('http://beauter.outboxcraft.com/img/bl.jpg');background-size:cover;background-repeat:   no-repeat;background-position: center center; ;">

 
				
<div class="container _force-full-width jumbo _alignCenter" >
        <div class="container jumbo _round " style="margin-top:56px">
            <h1><img src="http://beauter.outboxcraft.com/img/chry.svg" width="100px">Beauter</h1>
            <p>A simple framework for faster and beautiful responsive sites</p>
            <button class="_primary" onclick="myBtnfunction()">Get here</button>
            <br><small>Current v0.3.0-dev</small>
        </div>
    </div>
</div>

<hr>

    <div class="jumbo">
        <h1>Get Started</h1>
        <a href="docs"><button class="_warning">Read the Docs</button></a>
        <a href="https://github.com/outboxcraft/beauter"><button class="_dark">View on Github</button></a>
    </div>
    <hr>
    <br>
    <div class="container">
        <div class="row">

            <div class="col m6">
                <h3 class="m">Minimal but Powerful</h3>
                <p>Beauter is tiny <strong>~4KB compressed</strong>, so faster. While still packed with all the required elements.</p>
            </div>
            <div class="col m6">
                <h3 class="m">Rapid Development</h3>
                <p>Beauter is based on <strong>BOL</strong>, an experimental Design Methodology which makes Beauter easy to mix match.</p>
            </div>

        </div>
        <div class="row">

            <div class="col m6">
                <h3 class="m">Cross Browser Responsive</h3>
                <p>Beauter is a <strong>mobile first</strong>, responsive and modifies most of the default styles to guarantee same behavior everywhere.</p>
            </div>
            <div class="col m6">
                <h3 class="m">Open Source &hearts;</h3>
                <p>Beauter is available under <strong>MIT</strong> License which allows you to use, modify and contribute as you want for <strong>Free</strong>.
                    <p>
            </div>

        </div>

    </div>

    
<hr>

    <div class="container  ">
	<h3 class = "m">Get Beauter</h3>
	
	<P>You can download beauter 0.3 development version directly from <a href="https://github.com/outboxcraft/beauter/archive/v0.3-dev.zip">here</a>.</p>
	
	<p><strong>Or</strong> Link directly using cdn networks:</p>
	<pre ><code class="_cream">https://rawgit.com/outboxcraft/beauter/v0.3-dev/beauter.min.css</code></pre>
	
	</div>

<hr>

<div class="container jumbo">

<!hr class="_hide-desktop _hide-widescreen _hide-tablet">
<div class="c">
        <h4>Get Involved</h4>
        <p>Your contribution can make beauter more beautiful. Visit <a href="http://github.com/outboxcraft/beauter/">Github</a> to collaborate.</p>
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.89bd237a86eeb0e8b1de842a4b88b09b.en.html#dnt=false&amp;hashtags=beauter&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fbeauter.outboxcraft.com%2F&amp;related=ramdeoshubham&amp;size=m&amp;text=Beauter%20-%20A%20simple%20framework%20for%20beautiful%20responsive%20sites.&amp;time=1490279981139&amp;type=share&amp;url=http%3A%2F%2Fbeauter.outboxcraft.com&amp;via=ramdeoshubham" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://beauter.outboxcraft.com"></iframe>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/outboxcraft/beauter" data-icon="octicon-star" aria-label="Star outboxcraft/beauter on GitHub">Star</a>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/outboxcraft/beauter/fork" data-icon="octicon-repo-forked" aria-label="Fork outboxcraft/beauter on GitHub">Fork</a>
    </div>


</div><hr>
   

	{% include footer.html %}
	

</body>

</html>
