/*<<<---------- Utilities ---------->>>*/

._transparent
{
    background: transparent !important;
}

._low
{
    font-size: 75% !important;

    opacity: .75 !important;
}

._high
{
    font-size: 125% !important;

    opacity: .75 !important;
}

._floatCenter
{
    margin: 0 auto;
}

._wrap
{
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;
}

._gray
{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

._blur
{
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
}

._full-width
{
    width: 100%;
}

._max-full-width
{
    max-width: 100%;
}

._force-full-width
{
    min-width: 100%;
}

._width100
{
    width: 100%;
}

._width75
{
    width: 75%;
}

._width50
{
    width: 50%;
}

._floatLeft
{
    float: left !important;
}

._floatRight
{
    float: right !important;
}

._alignLeft
{
    text-align: left;
}

._alignRight
{
    text-align: right;
}

._alignCenter
{
    text-align: center;
}

._clear
{
    display: table;
    clear: both;

    content: '';
}

._hidden
{
    display: none !important;
}

._debugmode *
{
    border: 2px solid #f00 !important;
}

._debugmode div
{
    border: 4px solid #0f0 !important;
}

._debugmode .container,
._debugmode .jumbo
{
    border: 6px solid #00f !important;
}

@media screen and (max-width: 400px)
{
    ._hide-mobile
    {
        display: none !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 550px)
{
    ._hide-phablet
    {
        display: none !important;
    }
}

@media screen and (min-width: 550px) and (max-width: 750px)
{
    ._hide-tablet
    {
        display: none !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px)
{
    ._hide-desktop
    {
        display: none !important;
    }
}

@media screen and (min-width: 1000px)
{
    ._hide-widescreen
    {
        display: none !important;
    }
}

._clipped
{
    overflow: hidden !important;
}

._overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

._is-invisible
{
    visibility: hidden !important;
}

._block
{
    display: block !important;
}

._inline
{
    display: inline !important;
}

._inline-block
{
    display: inline-block !important;
}

._noMargin
{
    margin: 0 !important;
}

._noPadding
{
    padding: 0 !important;
}

._posRel
{
    position: relative !important;
}

._posAbs
{
    position: absolute !important;
}

._bordered
{
    border-style: solid;
    border-width: 1px;
}

._noReaction
{
    pointer-events: none;
}

._unSelectable
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
}

._round
{
    border-radius: 25px !important;
}

._box
{
    border-radius: 0 !important;
}

._xsmall
{
    font-size: 45% !important;

    padding: 5px 10px !important;
}

._small
{
    font-size: 60% !important;

    padding: 7px 20px !important;
}

._large
{
    font-size: 110% !important;

    padding: 15px 40px !important;
}

._xlarge
{
    font-size: 125% !important;

    padding: 20px 50px !important;
}

._noDelay
{
    transition-duration: 0s !important;
}

._disabled
{
    cursor: not-allowed;

    opacity: .6;
    color: #555;
    border: 1px solid #ccc;
    background-color: #eee;
}

._truncate,
._expandable-truncate
{
    overflow: hidden;

    width: 250px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

._expandable-truncate:hover
{
    overflow: initial;

    width: 100%;

    white-space: initial;
}

._shadow
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2) !important;
}

._ripple{
  position: relative;
  overflow: hidden;
}

._ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

._ripple:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
