/*<<<---------- Lists ---------->>>*/

ol
{
    list-style: decimal outside;
}

ol ol
{
    list-style-type: lower-alpha;
}

ol ol ol
{
    list-style-type: upper-roman;
}

ul
{
    list-style: disc outside;
}

ul ul
{
    list-style-type: circle;
}

ul ul ul
{
    list-style-type: square;
}

ol,
ul
{
    margin: 0 0 2.5rem 3rem;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul
{
    font-size: 90%;

    margin: 1.5rem 0 1.5rem 3rem;
}

li
{
    margin-bottom: 1rem;
}

dl dt
{
    font-weight: bold;
}