/*<<<---------- Navigation ---------->>>*/


/*Top Navigation*/
ul.topnav {background:rgba(0,0,0,0);}
ul.responsive {background:rgba(0,0,0,0.5);}
ul.topnav
{
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #333;
}

ul.topnav li
{
    float: left;

    margin-bottom: 0;
}

ul.topnav li input,ul.topnav li button {
	margin-top: 7 ;
	margin-bottom: 7 ;
	margin-left: 7; 
		margin-right: 7 
	
	
}

ul.topnav li a
{
    font-size: 17px;

    display: inline-block;

    padding: 14px 16px;

    transition: .3s;
    text-align: center;
    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

ul.topnav li a.brand
{
    font-weight: bold;

    margin-right: 20px;
    margin-left: 20px;
}

ul.topnav li a.brand:hover
{
    background: rgba(0, 0, 0, .1);
}

ul.topnav li a.disabled:hover
{
    color: #d3d3d3;
    background: rgba(0, 0, 0, 0);
}

ul.topnav li a.disabled
{
    color: #d3d3d3;
}

ul.topnav li a.active
{
    color: #fff;
    background-color: rgba(255, 255, 255, .5);
}

ul.topnav li a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

ul.topnav li.-icon
{
    display: none;
}

ul.topnav .dropdown:hover .dropdown-content
{
    display: block;
}



ul.topnav .dropdown-content a
{
    display: block;
}

@media screen and (max-width:750px)
{
    ul.topnav li:not(:first-child)
    {
        display: none;
    }
    ul.topnav li.-icon
    {
        display: initial;
        float: right;
    }
}

@media screen and (max-width:750px)
{
    ul.topnav.responsive
    {
         position: relative; 
    }
    ul.topnav.responsive li.dropdown .dropdown-content
    {
         position: relative; 
    }
	
    ul.topnav.responsive li.-icon
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive li
    {
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a
    {
        display: block;

        text-align: left;
    }
}


/* Dropdown */

.dropdown-content
{
    position: absolute;
    z-index: 2;

    display: none;

    min-width: 160px;

    background-color: #444;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.dropdown-content a
{
    display: block;

    padding: 12px 16px;

    transition: .3s;
    text-align: left;
    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

.dropdown-content a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

.dropdown:hover .dropdown-content
{
    display: inline-block !important;
}


/* List Navigation */

ul.listnav
{
    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #444;
}

.listnav li
{
    margin: 0;
}

.listnav li a
{
    display: block;

    padding: 8px 16px;
    padding-left: 15px;

    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

.listnav li a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

.listnav li.active a
{
    border-left: 5px solid rgba(255, 255, 255, .5);
}

._cream.listnav li a, ._cream.topnav li a, ._cream.dropdown-content a
{
    color: #000;
}


.topnav.-fixed {
  position: fixed !important;
    width: 100% !important; z-index: 1 !important; margin-bottom:56px !important;
		top: 0;
}
