/*<<<---------- Parallax ---------->>>*/

.bg-parallax
{
    overflow-y: auto;

    height: 300px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    perspective: 1px;
}

.bg-parallax .-front
{
    padding-top: 10%;

    color: #fff;
}
