<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/v0.3-dev/beauter.css" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">
    <meta name="keywords" content="css,html,framework,website,design,beauter,responsive">
    <meta name="author" content="Shubham Ramdeo">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ramdeoshubham">
    <meta name="twitter:creator" content="@ramdeoshubham">
    <meta name="twitter:title" content="Beauter | A simple framework for beautiful sites">
    <meta name="twitter:description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">
    <meta name="twitter:image" content="http://beauter.outboxcraft.com/img/banner.png">

    <meta property="fb:app_id" content="1197747683674295">
    <meta property="og:url" content="http://beauter.outboxcraft.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Beauter | A simple framework for beautiful sites">
    <meta property="og:image" content="http://beauter.outboxcraft.com/img/banner.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <meta name="theme-color" content="#FFC0CB">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Beauter | A simple framework for beautiful sites" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://beauter.outboxcraft.com/img/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://beauter.outboxcraft.com/img/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://beauter.outboxcraft.com/img/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://beauter.outboxcraft.com/img/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://beauter.outboxcraft.com/img/fav/mstile-310x310.png" />
    <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=5;cycle=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Beauter | {{ page.title }}</title>
    <style>
        .m {
            color: #ff5272;
        }
		</style>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://rawgit.com/outboxcraft/beauter/v0.3-dev/beauter.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91609665-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'userId', 'beauteruid'); 
</script>

</head>

<body>
		
			 <ul class="topnav _cream" id="myTopnav" style="position: fixed; width: 100%; z-index: 1; margin-bottom:56px!important;">
        <li><a href="http://beauter.outboxcraft.com/0.3/" class="brand"><img src="http://beauter.outboxcraft.com/img/chry.svg" style="width:20px"> Beauter</a>
        </li>

        <li><a href="http://beauter.outboxcraft.com/0.3/">Home</a>
        </li>

        <li><a href="http://beauter.outboxcraft.com/0.3/docs/">Docs</a>
        </li>
		
		    <li><a href="http://beauter.outboxcraft.com/0.3/examples/">Examples</a>
        </li>

        <li><a href="http://beauter.outboxcraft.com/0.3/templates/">Templates</a>
        </li>

        <li><a href="http://beauter.outboxcraft.com/0.3/download/">Download</a>
        </li>
       
	<li><a class="_dark" href="https://github.com/outboxcraft/beauter/tree/v0.3-dev">Join 0.3 dev</a>
        </li>			
				 
        <li class="-icon">
            <a href="javascript:void(0);" onclick="topnav('myTopnav')">&#9776;</a>
        </li>
        
        <li class="brand " style="float:right; display:inline!important">
            <a href="http://github.com/outboxcraft/beauter/"><img src="http://beauter.outboxcraft.com/img/GitHub-Mark-Light-32px.png" style="width:20px;filter: invert(100%);">
            </a>
        </li>
    </ul>
	
	
