<style>

html {font-size:80%!important}

    .colm {
        background-color: #F1F1F1;
        text-align: center;
    }
    .rowm {
        margin-bottom: 10px;
    }

    .m {
        color: #ff5272;
    }

    ul.topnav li a {color:black}

    #men .listnav li a{color:#333}
    #men .listnav li a:hover{font-weight:bold;color:pi;background-color:#f1f1f1}


    .m {
        color: #ff5272;
    }

ul.topnav li a {color:black!important}

.carbonads{background-color:#f4f5f6;border-radius:4px;color:#606c76;line-height:1.6;margin:0 auto;margin-bottom:2rem;max-width:33rem;padding:1.5rem}.carbonads,.carbonads span{display:block;overflow:hidden}.carbonads .carbon-poweredby,.carbonads .carbon-text{color:#606c76;display:block;float:right;font-size:1.2rem;max-width:44%;text-align:left;width:44%}@media (min-width:40rem){.carbonads .carbon-poweredby,.carbonads .carbon-text{max-width:52%;width:52%}}.carbonads .carbon-poweredby{margin:0;margin-top:-2.5rem}.carbonads .carbon-img{float:left;margin-right:1rem}#home .carbonads{background-color:#fff;margin-bottom:0}



</style>
