<!DOCTYPE html>
<html lang="en">
<head>

{{ page.meta }}

<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css" />

    <link rel="stylesheet" href="https:/fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <meta name="theme-color" content="#FFC0CB">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="Shubham Ramdeo">

    <! link rel="alternate" type="application/rss+xml" title="Beauter | A simple framework for beautiful sites" href="http://beauter.outboxcraft.com/feed.xml">




    <meta property="fb:app_id" content="1197747683674295">
    <meta property="og:url" content="http://beauter.outboxcraft.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Beauter | A simple framework for beautiful sites">
    <meta property="og:image" content="http://beauter.outboxcraft.com/img/banner.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">



    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ramdeoshubham">
    <meta name="twitter:creator" content="@ramdeoshubham">
    <meta name="twitter:title" content="Beauter | A simple framework for beautiful sites">
    <meta name="twitter:image" content="http://beauter.outboxcraft.com/img/banner.png">
    <meta name="twitter:description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">




    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Beauter | A simple framework for beautiful sites" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://beauter.outboxcraft.com/img/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://beauter.outboxcraft.com/img/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://beauter.outboxcraft.com/img/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://beauter.outboxcraft.com/img/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://beauter.outboxcraft.com/img/fav/mstile-310x310.png" />
    <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=5;cycle=1" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <style>
        .colm {
            background-color: #F1F1F1;
            text-align: center;
        }
        .rowm {
            margin-bottom: 10px;
        }

        .m {
            color: #ff5272;
        }

        ul.topnav li a {color:black}

    </style>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91609665-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'userId', 'beauteruid');

</script>
   <script async defer src="https://buttons.github.io/buttons.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


  <link href=
  "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css"
  rel="stylesheet">
  <script src=
  "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js">
  </script>
  <script>
   hljs.initHighlightingOnLoad();
  </script>


</head>

<body>



  <ul class="topnav -fixed" id="myTopnav" style="background:#ff9">
     <li>
        <a class="brand" href="http://beauter.outboxcraft.com/0.3/"><img src=
        "http://beauter.outboxcraft.com/img/chry.svg" style="width:20px">
        Beauter</a>
     </li>
     <li>
        <a href="http://beauter.outboxcraft.com/docs/">Docs</a>
     </li>
     <li>
        <a onclick="openmodal('myModal2');">Download</a>
     </li>
     <li class="-icon">
        <a href="javascript:void(0);" onclick="topnav('myTopnav')">&#9776;</a>
     </li>
     <li class="brand" style="float:right; display:inline!important">
        <a href="http://github.com/outboxcraft/beauter/"><img src=
        "http://beauter.outboxcraft.com/img/GitHub-Mark-Light-32px.png" style=
        "width:20px;filter: invert(100%);"></a>
     </li>
  </ul>
  <style>
  #men .listnav li a{color:#333}
  #men .listnav li a:hover{font-weight:bold;color:pi;background-color:#f1f1f1}
  </style>



    <div id="myModal2" class="modalbox-modal _alignCenter">



        <!-- Modal content -->
        <div class="modalbox-modal-content" style="border-radius:5px;padding:10px;">

            <div style="border:1px dashed pink;border-radius:5px;padding:10px;">
                <span class="-close" id="modalbox-close2">&#10006;</span>

                <h2 style="color:skyblue">Thanks &hearts; for choosing Beauter</h2>

                <p>Beauter is still under development. Please share your improvements on <a href="https://github.com/outboxcraft/beauter">Github</a> to make Beauter more beautiful. Enjoy the current version.&#9749;</p>
                <a href="https://github.com/outboxcraft/beauter/archive/master.zip" class="button _primary" style="text-transform: uppercase;">DOWNLOAD NOW</a>


            </div>
        </div>
    </div>

    
    <div class="container _force-full-width" style=
    "padding:5%; background: white; /* For browsers that do not support gradients */ background: linear-gradient(#ff9, white); margin-top:56px;">
       <div></div>
       <h1>Documentation</h1>
       <p>Everything you can do with Beauter</p>
    </div>
    <div class=
    " _alignCenter _force-full-width _hide-desktop _hide-widescreen _hide-tablet"
    style=" padding-top:10px;">
       <a href="#men"><button class="_cream&quot;">Jump to Navigation
       Menu</button></a>
    </div>
    <div class="row" style="margin-top:50px">
       <div class="col m8 _bordere">
          <div class="container">

			{{ content }}

    </div>
 </div>
 <div class="col m4 _white">
    <div class="" id="men" style=
    "padding:0; padding-top:15px;!important;">
       <div id="menu">
          
          <div class="">
             <ul class="listnav _white">
                <li>
                   <a href="/0.3/docs/about">About</a>
                </li>
                <li>
                   <a href="/0.3/docs/license">License</a>
                </li>
                <li>
                   <a href="/0.3/docs/start">Getting Started</a>
                </li>
                <li>
                   <a href="/0.3/docs/methodology">Naming Methodology</a>
                </li>
             </ul>
          </div><br>
          <div class="">
             <ul class="listnav _white">
                <li>
                   <a href="/0.3/docs/grid">Grid</a>
                </li>
                <li>
                   <a href="/0.3/docs/offsets">Offsets</a>
                </li>
                <li>
                   <a href="/0.3/docs/typo">Typography</a>
                </li>
                <li>
                   <a href="/0.3/docs/lists">Lists</a>
                </li>
                <li>
                   <a href="/0.3/docs/tables">Tables</a>
                </li>
                <li>
                   <a href="/0.3/docs/containers">Containers and Jumbo</a>
                </li>
                <li>
                   <a href="/0.3/docs/images">Images</a>
                </li>
                <li>
                   <a href="/0.3/docs/buttons">Buttons</a>
                </li>
                <li>
                   <a href="/0.3/docs/forms">Forms</a>
                </li>
             </ul>
          </div><br>
          <div class="">
             <ul class="listnav _white">
                <li>
                   <a href="/0.3/docs/modalimg">Modal Images</a>
                </li>
                <li>
                   <a href="/0.3/docs/modalbox">Modal Boxes</a>
                </li>
                <li>
                   <a href="/0.3/docs/navigation">Navigation</a>
                </li>
                <li>
                   <a href="/0.3/docs/parallax">Parallax</a>
                </li>
                <li>
                   <a href="/0.3/docs/alert">Alerts</a>
                </li>
                <li>
                   <a href="/0.3/docs/tooltips">Tooltips</a>
                </li>
                <li>
                   <a href="/0.3/docs/cards">Cards</a>
                </li>
                <li>
                   <a href="/0.3/docs/breadcrumbs">Breadcrumbs</a>
                </li>
                <li>
                   <a href="/0.3/docs/accordion">Accordion</a>
                </li>
                <li>
                   <a href="/0.3/docs/progress">Progress Bars</a>
                </li>
                <li>
                   <a href="/0.3/docs/tabs">Tabs</a>
                </li>
                <li>
                   <a href="/0.3/docs/snackbar">Snackbar</a>
                </li>
                <li>
                   <a href="/0.3/docs/notes">Notes</a>
                </li>
             </ul>
          </div>
<br>
          <div class="">
             <ul class="listnav _white">
                <li>
                   <a href="/0.3/docs/colors">Colors</a>
                </li>
                <li>
                   <a href="/0.3/docs/utilities">Utilities</a>
                </li>
                <li>
                   <a href="/0.3/docs/js">Javascript</a>
                </li>
             </ul>
          </div>

          <!-- beauterside -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-4652822700036327"
               data-ad-slot="5105965609"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          
       </div>
    </div>
 </div>
</div>
<hr>
<div style=" background: linear-gradient(white,#ff9);">
 <div class="" style=
 " /* For browsers that do not support gradients */ background: url('/img/method-draw-image.svg'); background-repeat:no-repeat;background-position: left bottom;background-size: 25%;">
    <div class=" jumbo container _alignLeft">
       <div class="row">
          <div class="col m6">
             <a class="_hidden" href="sitemap.html">Sitemap</a> .. 
             <script>
             ! function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (!d.getElementById(id)) {
               js = d.createElement(s);
               js.id = id;
               js.src = "//platform.twitter.com/widgets.js";
               fjs.parentNode.insertBefore(js, fjs);
             }
             }(document, "script", "twitter-wjs");
             </script>
          </div>
          <div class="col m6 _alignRight">
             <br>
             Code licensed under <a href=
             "https://github.com/outboxcraft/beauter/blob/v0.3-dev/LICENSE"
             style="text-decoration:none">MIT</a><br>
             Docs under <a href=
             "https://creativecommons.org/licenses/by-nc-sa/4.0/" style=
             "text-decoration:none">CC BY NC SA 4.0</a>.<br>
             Designed with <span>&hearts;</span><br>
             <img alt="outboxcraft logo" src=
             "http://beauter.outboxcraft.com/img/cl.png" style=
             "width:25px;filter: invert(100%);"><a href=
             "http://outboxcraft.com" style=
             "text-decoration:none"><strong style=
             "color:maroon;">Outboxcraft</strong></a><br>
             &copy; 2017
          </div>
       </div>
    </div>
 </div>
 <script src=
 "https://rawgit.com/outboxcraft/beauter/master/beauter.min.js">
 </script> 
</div>
</body>
</html>
