<!DOCTYPE html>
<html lang="en">
<head>

{{ page.meta }}

<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css" />

    <link rel="stylesheet" href="https:/fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <meta name="theme-color" content="#FFC0CB">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="Shubham Ramdeo">

    <! link rel="alternate" type="application/rss+xml" title="Beauter | A simple framework for beautiful sites" href="http://beauter.outboxcraft.com/feed.xml">




    <meta property="fb:app_id" content="1197747683674295">
    <meta property="og:url" content="http://beauter.outboxcraft.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Beauter | A simple framework for beautiful sites">
    <meta property="og:image" content="http://beauter.outboxcraft.com/img/banner.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">



    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ramdeoshubham">
    <meta name="twitter:creator" content="@ramdeoshubham">
    <meta name="twitter:title" content="Beauter | A simple framework for beautiful sites">
    <meta name="twitter:image" content="http://beauter.outboxcraft.com/img/banner.png">
    <meta name="twitter:description" content="Beauter is an open source and free framework for designing responsive and beautiful sites.">




    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://beauter.outboxcraft.com/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://beauter.outboxcraft.com/img/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Beauter | A simple framework for beautiful sites" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://beauter.outboxcraft.com/img/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://beauter.outboxcraft.com/img/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://beauter.outboxcraft.com/img/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://beauter.outboxcraft.com/img/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://beauter.outboxcraft.com/img/fav/mstile-310x310.png" />
    <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=beauter.outboxcraft.com/rss/&amp;id=5;cycle=1" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <style>
        .colm {
            background-color: #F1F1F1;
            text-align: center;
        }
        .rowm {
            margin-bottom: 10px;
        }
        .m {
            color: hotpink;
        }
    }
    </style>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91609665-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'userId', 'beauteruid'); 

</script>
   <script async defer src="https://buttons.github.io/buttons.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <!--h3 class="_shadow _success _alignCenter">This project is currently on beta test.</h3-->


    <ul class="topnav" id="myTopnav"  style="    position: fixed;
    
    width: 100%; z-index: 1; margin-bottom:56px;">
        <li>
            <a href="http://beauter.outboxcraft.com" class="brand"><img src="/img/chry.svg" style="width:20px"> Beauter</a>
        </li>
        <li><a href="/">Home</a>
        </li>

        <li><a href="/docs">Docs</a>
        </li>
        <li><a onclick="myBtnfunction()">Download</a>
        </li>
	<li><a class="_cream" href="http://beauter.outboxcraft.com/0.3">Beauter 0.3-dev preview</a>
        </li>


        <li class="-icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>

        <li class="brand " style="float:right; display:inline!important">
            <a href="http://github.com/outboxcraft/beauter/"><img src="/img/GitHub-Mark-Light-32px.png" style="width:20px">
            </a>
        </li>


    </ul>



    <div id="myModal2" class="modalbox-modal _alignCenter">



        <!-- Modal content -->
        <div class="modalbox-modal-content" style="border-radius:5px;padding:10px;">

            <div style="border:1px dashed pink;border-radius:5px;padding:10px;">
                <span class="-close" id="modalbox-close2">&#10006;</span>

                <h2 style="color:skyblue">Thanks &hearts; for choosing Beauter</h2>

                <p>Beauter is still under development. Please share your improvements on <a href="https://github.com/outboxcraft/beauter">Github</a> to make Beauter more beautiful. Enjoy the current version.&#9749;</p>
                <a href="https://github.com/outboxcraft/beauter/archive/master.zip" class="button _primary" style="text-transform: uppercase;">DOWNLOAD NOW</a>
               

            </div>
        </div>
    </div>

    <div class="container _force-full-width _shadow" style="padding:5%;background:#ff9"><div style="margin-bottom:56px;"></div>
        <h2>Documentation</h2>
        <p>Everything you can do with Beauter</p>
    </div>


    <div class="container _alignCenter _force-full-width _hide-desktop _hide-widescreen _hide-tablet _shadow" style="background:#eee; padding-top:10px;">
        <a href="#men">
            <button style="text-transform: uppercase;">Jump to Navigation Menu</button>
        </a>
    </div>

    <div class="row">
        <div class="col m8">




            <div class="container">
			
			{{ content }}
			
	            </div>





        </div>
        <div id="men" class="col m4" style="padding:0; padding-top:15px;!important;">
            <div>
                <ul class="listnav _cream">
                    <li><a href="/docs/about">About</a>
                    </li>
                    <li><a href="/docs/license">License</a>
                    </li>
                    <li><a href="/docs/start">Getting Started</a>
                    </li>
                    <li><a href="/docs/methodology">Naming Methodology</a>
                    </li>
                </ul>
                <br>
                <ul class="listnav _cream">
                    <li><a href="/docs/grid">Grid</a>
                    </li>
                    <li><a href="/docs/typo">Typography</a>
                    </li>
                    <li><a href="/docs/lists">Lists</a>
                    </li>
                    <li><a href="/docs/tables">Tables</a>
                    </li>
                    <li><a href="/docs/containers">Containers and Jumbo</a>
                    </li>
                    <li><a href="/docs/images">Images</a>
                    </li>
                    <li><a href="/docs/modalimg">Modal Images</a>
                    </li>
                    <li><a href="/docs/modalbox">Modal Boxes</a>
                    </li>
                    <li><a href="/docs/navigation">Navigation</a>
                    </li>
                    <li><a href="/docs/parallax">Parallax</a>
                    </li>
                    <li><a href="/docs/alert">Alerts</a>
                    </li>
                    <li><a href="/docs/tooltips">Tooltips</a>
                    </li>
                    <li><a href="/docs/buttons">Buttons</a>
                    </li>
                    <li><a href="/docs/forms">Forms</a>
                    </li>
                    <li><a href="/docs/progress">Progress Bars</a>
                    </li>
                    <li><a href="/docs/utilities">Utilities</a>
                    </li>
                </ul>


            </div>
		
<!-- beauterside -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4652822700036327"
     data-ad-slot="5105965609"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>

    </div>


    <hr>


<div class="container">
        <div class="row">
<div class="col m6">
<h4>News</h4>

<ul>
<li>New 'Examples' section coming with wonderful tutorials!</li>
<li>Adding animations and transitions effects soon.</li> 
<li>0.3 development started. Join us <a href="https://github.com/outboxcraft/beauter/tree/v0.3-dev">here</a>.</li>
</ul>


    </div>
<hr class="_hide-desktop _hide-widescreen _hide-tablet">
<div class="_alignCenter col m6" style="border:none">
        <h4>Get Involved</h4>
        <p>Your contribution can make beauter more beautiful. Visit <a href="http://github.com/outboxcraft/beauter/">Github</a> to collaborate.</p>
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.89bd237a86eeb0e8b1de842a4b88b09b.en.html#dnt=false&amp;hashtags=beauter&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fbeauter.outboxcraft.com%2F&amp;related=ramdeoshubham&amp;size=m&amp;text=Beauter%20-%20A%20simple%20framework%20for%20beautiful%20responsive%20sites.&amp;time=1490279981139&amp;type=share&amp;url=http%3A%2F%2Fbeauter.outboxcraft.com&amp;via=ramdeoshubham" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://beauter.outboxcraft.com"></iframe>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/outboxcraft/beauter" data-icon="octicon-star" aria-label="Star outboxcraft/beauter on GitHub">Star</a>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/outboxcraft/beauter/fork" data-icon="octicon-repo-forked" aria-label="Fork outboxcraft/beauter on GitHub">Fork</a>
    </div>


</div>

</div>
    <hr>
    <div class="_dark  jumbo">

        <a href="http://beauter.outboxcraft.com/sitemap.html" class="_hidden">Sitemap</a> Designed with <span alt="love">&hearts;</span> by <a style="color:white" href="http://ramdeoshubham.com">Shubham Ramdeo</a>
        <br><a href="https://twitter.com/ramdeoshubham" class="twitter-follow-button" data-show-count="false" data-size="medium">Follow @ramdeoshubham</a>
        <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
        <br>
        <img src="/img/cl.png" style="width:25px" alt="outboxcraft logo"><a style="color:white" href="http://outboxcraft.com">Outboxcraft</a>
        <br>&copy; 2017
    </div>



    <script>
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function myFunction1() {
            var x = document.getElementById("myTopnav1");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }



        // Get the modal
        var modal2 = document.getElementById('myModal2');



        // Get the <span> element that closes the modal
        var span2 = document.getElementById('modalbox-close2');

        // When the user clicks on the button, open the modal 
        function myBtnfunction() {
            modal2.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span2.onclick = function() {
            modal2.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal2.style.display = "none";
            }
        }
    </script>

</body>

</html>
