---
---

{% include header.html %}


    <div class="container _force-full-width _shadow" style="padding:5%;background:#ff9"><div style="margin-bottom:56px;"></div>
        <h2>Documentation</h2>
        <p>Everything you can do with Beauter</p>
    </div>


    <div class="container _alignCenter _force-full-width _hide-desktop _hide-widescreen _hide-tablet _shadow" style="background:#eee; padding-top:10px;">
        <a href="#men">
            <button style="text-transform: uppercase;">Jump to Navigation Menu</button>
        </a>
    </div>

<div class="row" style="margin-top:50px">



	<div class="col d2 _hide-mobile
_hide-phablet
_hide-tablet"><ul class="listnav _alignRight _white" style="font-size:80%;border-right:1px solid #eee !important;" >
<!--<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Page</a></li>
<li><a href="#">Contact</a></li>-->


{% for item in page.top %}
    <li><a href="#{{ item  | slugify: 'pretty' }}">{{ item }}</a></li>
{% endfor %}


</ul>
</div>




	<div class="col d7 m8">
<div class="container " style="width:90%">
			
			{{ content }}
			
	            </div>

</div>



<div class="col d3 m3 _white">
<div id="men" class="" style="padding:0; padding-top:15px;!important;border-left:1px solid #eee !important;">
          <!--  <div>
			
			
			<button class="_white accordion">About</button>
<div class="panel">
			
			
                <ul class="listnav _white">
                    <li><a href="/docs/about">About</a>
                    </li>
                    <li><a href="/docs/license">License</a>
                    </li>
                    <li><a href="/docs/start">Getting Started</a>
                    </li>
                    <li><a href="/docs/methodology">Naming Methodology</a>
                    </li>
                </ul>
                </div>
				
				
                <ul class="listnav _white">
                    <li><a href="/docs/grid"><strong>Grid</strong></a>
                    </li>
					
					
					
					
					<li><a href="/docs/offsets">Offsets</a>
                    </li>
                    <li><a href="/docs/typo">Typography</a>
                    </li>
                    <li><a href="/docs/lists">Lists</a>
                    </li>
                    <li><a href="/docs/tables">Tables</a>
                    </li>
                    <li><a href="/docs/containers">Containers and Jumbo</a>
                    </li>
                    <li><a href="/docs/images">Images</a>
                    </li>
                    <li><a href="/docs/modalimg">Modal Images</a>
                    </li>
                    <li><a href="/docs/modalbox">Modal Boxes</a>
                    </li>
                    <li><a href="/docs/navigation">Navigation</a>
                    </li>
                    <li><a href="/docs/parallax">Parallax</a>
                    </li>
                    <li><a href="/docs/alert">Alerts</a>
                    </li>
                    <li><a href="/docs/tooltips">Tooltips</a>
                    </li>
                    <li><a href="/docs/buttons">Buttons</a>
                    </li>
                    <li><a href="/docs/forms">Forms</a>
                    </li>
                    <li><a href="/docs/progress">Progress Bars</a>
                    </li>
                     <li><a href="/docs/progress">Tabs</a>
                    </li>           
                     <li><a href="/docs/progress">Snackbar</a>
                    </li>   					
					<li><a href="/docs/progress">Scroll Indicator</a>
                    </li>
					<li><a href="/docs/progress">Pagination</a>
                    </li>
					<li><a href="/docs/progress">Notes</a>
                    </li>
					<li><a href="/docs/progress">Media</a>
                    </li>
					<li><a href="/docs/progress">Cards</a>
                    </li>
					<li><a href="/docs/progress">Breadcrumbs</a>
                    </li>
					<li><a href="/docs/progress">Accordion</a>
                    </li>
                </ul><br>
   <ul class="listnav _white">
                    <li><a href="/docs/about">Colors</a>
                    </li>
                    <li><a href="/docs/license">Utilities</a>
                    </li>
                </ul>
                -->

            </div>
        </div>

    


</div>    


</div>

<hr>

	{% include footer.html %}
